@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --firstBg :#F2613F ;
    --secdtBg : #0C0C0C;
    --colorFOnt:#eeee ;
    --fontText :  "K2D", sans-serif;
}
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;

}

.container{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--secdtBg);
overflow: hidden;

}
::-webkit-scrollbar{
    width: .5rem;
    height:1rem ;
}
::-webkit-scrollbar-thumb{border-radius: 15px;
    background-color: var(--firstBg);
}
::-webkit-scrollbar-track{
    background-color: var(--secdtBg);
}

.container .party1{
width: 100%;
height: 100vh;
position: relative;
background-color:#eeeeee00;
}

.container .party1 .errorsStyle{
    width: 100%;
background-color: #1a1a1a;
z-index: 9999;
position: absolute;
top: 0;
left: 0;
padding: 20px;
font-size: 20px;
color: var(--firstBg);
font-style: normal;
font-family: var(--fontText);
font-weight: 600;
line-height: normal;

}
.container .party1 .errorsStyle ul{
display: flex;
gap: 15px ;
}
.container .party1 .errorsStyle ul li{
list-style-type: none;
}
.container .party1 .titleparty{
position: absolute;
left: 5%;
bottom: 5%;
color: #FFF;
font-family: var(--fontText);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.container .party1 img{
width: 70%;
height: 100vh;
object-fit: cover;
}
.container .party2{
    width:500px;
    min-height: 100vh;
background-color: var(--firstBg);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
position: absolute;
gap: 15px;
right: 0;
top: 0;
}
.container .party2 .titleForm{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.container .party2 form{
width: 450px;
height: auto;
background-color: rgba(100, 148, 237, 0);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
gap: 25px;
padding: 15px;
position: relative;
}
.container .party2 form input{
    width: 400px;
height: 59px;
flex-shrink: 0;
border-radius: 5px;
background: #D9D9D9;
border: none;
outline: none;
padding: 10px;
text-align: left;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #151515;
}
.container .party2 form input::placeholder{
    text-align: left;
    font-family: var(--fontText);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
color: #373737;
}
.container .party2 form label{
    width: 95%;
    background-color: #0c0c0c00;
    color: #FFF;
    text-align: left;
    font-family: var(--fontText);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.container .party2 form button{
    width: 270px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
background: #D9D9D9;
color: #000;
text-align: center;
font-family: var(--fontText);
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
transition: all .5s ease;
border: none;
cursor: pointer;
}
.container .party2 form button:hover{

background: #1a1a1a;
color: var(--firstBg);
text-align: center;
font-family: var(--fontText);
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container .party2 form span{
width: 90%;
background-color: rgba(137, 43, 226, 0);
text-align: right;
position: absolute;
bottom: 18%;
}
.container .party2 form span a{
    width: 100%;


    color: #FFF;
text-align: right;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.container .party2 .accountfind{
    color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container .party2 .accountfind a{
    color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-decoration: underline;
}

.container .party2 .partyContact{
    width: 70%;
    background-color: rgba(30, 180, 210, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container .party2 .partyContact .titleContact{
    color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container .party2 .partyContact .partybtn{
    margin: auto;
width: 200px;

}
.container .party2 .partyContact .partybtn ul{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
}
.container .party2 .partyContact .partybtn ul li{
list-style-type: none;
}
.container .party2 .partyContact .partybtn ul li a img{
    width: 40px;
height: 40px;
flex-shrink: 0;
background-color: #D9D9D9;
border-radius: 50%;
padding: 5px;
}
.container .party2 .editeby{

position: absolute;
bottom: 1%;
right: 2%;
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}



/*create Accooiunt */

.container .party2-cre {
    width:500px;
    min-height: 100vh;
background-color: var(--firstBg);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
position: absolute;
gap: 10px;
right: 0;
top: 0;
}
.container .party2-cre  .titleForm{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.container .party2-cre form{
    width: 450px;
    height: auto;
    background-color: rgba(218, 236, 21, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    position: relative;
    }
    .container .party2-cre form input{
        width: 400px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D9D9D9;
    border: none;
    outline: none;
    padding: 10px;
    text-align: left;
    font-family: var(--fontText);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #151515;
    }
    .container .party2-cre form input::placeholder{
        text-align: left;
        font-family: var(--fontText);
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    color: #373737;
    }
    .container .party2-cre form label{
        width: 95%;
        background-color: #0c0c0c00;
        color: #FFF;
        text-align: left;
        font-family: var(--fontText);
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .container .party2-cre form button{
        width: 270px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 5px;
    background: #D9D9D9;
    color: #000;
    text-align: center;
    font-family: var(--fontText);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transition: all .5s ease;
    border:  none;
    cursor: pointer;
    }
    .container .party2-cre form button:hover{

    background: #1a1a1a;
    color: var(--firstBg);
    text-align: center;
    font-family: var(--fontText);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .container .party2-cre form span{
    width: 90%;
    background-color: rgba(137, 43, 226, 0);
    text-align: right;
    position: absolute;
    bottom: 18%;
    }
    .container .party2-cre form span a{
        width: 100%;


        color: #FFF;
    text-align: right;
    font-family: var(--fontText);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

.container .party2-cre .accountfind{
    color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container .party2-cre .accountfind a{
    color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-decoration: underline;
}

.container .party2-cre .partyContact{
    width: 70%;
    background-color: rgba(30, 180, 210, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container .party2-cre .partyContact .titleContact{
    color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container .party2-cre .partyContact .partybtn{
    margin: auto;
width: 200px;

}
.container .party2-cre .partyContact .partybtn ul{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
}
.container .party2-cre .partyContact .partybtn ul li{
list-style-type: none;
}
.container .party2-cre .partyContact .partybtn ul li a img{
    width: 40px;
height: 40px;
flex-shrink: 0;
background-color: #D9D9D9;
border-radius: 50%;
padding: 5px;
}
.container .party2-cre .editeby{

position: absolute;
bottom: 1%;
right: 2%;
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

/*finish party */


/* party OTP */

.container .party2-OTP {
    width:500px;
    min-height: 100vh;
background-color: var(--firstBg);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
position: absolute;
gap: 20px;
right: 0;
top: 0;
}
.container .party2-OTP  .titleForm{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.container .party2-OTP  .minititle{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container .party2-OTP form{
    width: 450px;
    height: auto;
    background-color: rgba(218, 236, 21, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    position: relative;
    }
.party2-OTP form .groupeInput{
    width: 80%;
    background-color: rgba(63, 44, 184, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}
.party2-OTP form  label{
    width: 80%;
    color: #FFF;
    text-align: left;
    font-family: var(--fontText);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.party2-OTP form  .groupeInput input{
    width: 48px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D9D9D9;
    color: #151515ef;
text-align: center;
font-family: var(--fontText);
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
outline: none;
}
.party2-OTP form  .groupeInput input::placeholder{

    color: rgba(49, 49, 49, 0.77);
text-align: center;
font-family: var(--fontText);
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.container .party2-OTP  form button{
    width: 270px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
background: #D9D9D9;
color: #000;
text-align: center;
font-family: var(--fontText);
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
transition: all .5s ease;
border:  none;
cursor: pointer;
}
.container .party2-OTP  form button:hover{

background: #1a1a1a;
color: var(--firstBg);
text-align: center;
font-family: var(--fontText);
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container .party2-OTP  form span{
width: 90%;
background-color: rgba(137, 43, 226, 0);
text-align: right;
position: absolute;
bottom: 18%;
}
.container .party2-OTP  form span a{
    width: 100%;


    color: #FFF;
text-align: right;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



.container .party2-OTP  .partyContact{
width: 70%;
background-color: rgba(30, 180, 210, 0);
display: flex;
flex-direction: column;
gap: 10px;
}
.container .party2-OTP  .partyContact .titleContact{
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container .party2-OTP  .partyContact .partybtn{
margin: auto;
width: 200px;

}
.container .party2-OTP  .partyContact .partybtn ul{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
}
.container .party2-OTP .partyContact .partybtn ul li{
list-style-type: none;
}
.container .party2-OTP  .partyContact .partybtn ul li a img{
width: 40px;
height: 40px;
flex-shrink: 0;
background-color: #D9D9D9;
border-radius: 50%;
padding: 5px;
}
.container .party2-OTP  .editeby{

position: absolute;
bottom: 1%;
right: 2%;
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.container .party2-OTP  .accountfind{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
.container .party2-OTP .accountfind a{
        color: #FFF;
        text-align: center;
        font-family: var(--fontText);
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-decoration: underline;
}


.container .party1 .SuccesStyle{
    width: 100%;
background-color: #1a1a1a;
z-index: 9999;
position: absolute;
top: 0;
left: 0;
padding: 20px;
font-size: 20px;
color: #3cff2ec5;
font-style: normal;
font-family: var(--fontText);
font-weight: 600;
line-height: normal;

}
.container .party1 .SuccesStyle ul{
display: flex;
gap: 15px ;
}
.container .party1 .SuccesStyle ul li{
list-style-type: none;
}
/* finish party*/

/* start party OUblie password*/

.container .party2-Oubl {
    width:500px;
    min-height: 100vh;
background-color: var(--firstBg);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
position: absolute;
gap: 20px;
right: 0;
top: 0;
}
.container .party2-Oubl  .titleForm{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.container .party2-Oubl  .minititle{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container .party2-Oubl form{
    width: 450px;
    height: auto;
    background-color: rgba(218, 236, 21, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    position: relative;
    }
.party2-Oubl form .groupeInput{
    width: 80%;
    background-color: rgba(63, 44, 184, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}
.party2-Oubl form  label{
    width: 90%;
    background-color: #0c0c0c00;
    color: #FFF;
    text-align: left;
    font-family: var(--fontText);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.container .party2-Oubl form input{
    width: 379px;
height: 59px;
flex-shrink: 0;
border-radius: 5px;
background: #D9D9D9;
border: none;
outline: none;
padding: 10px;
text-align: left;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #151515;
}
.container .party2-Oubl form input::placeholder{
    text-align: left;
    font-family: var(--fontText);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
color: #373737;
}
.container .party2-Oubl  form button{
    width: 270px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
background: #D9D9D9;
color: #000;
text-align: center;
font-family: var(--fontText);
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
transition: all .5s ease;
border:  none;
cursor: pointer;
}
.container .party2-Oubl  form button:hover{

background: #1a1a1a;
color: var(--firstBg);
text-align: center;
font-family: var(--fontText);
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container .party2-Oubl  form span{
width: 90%;
background-color: rgba(137, 43, 226, 0);
text-align: right;
position: absolute;
bottom: 18%;
}
.container .party2-Oubl  form span a{
    width: 100%;


    color: #FFF;
text-align: right;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



.container .party2-Oubl  .partyContact{
width: 70%;
background-color: rgba(30, 180, 210, 0);
display: flex;
flex-direction: column;
gap: 10px;
}
.container .party2-Oubl  .partyContact .titleContact{
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.container .party2-Oubl  .partyContact .partybtn{
margin: auto;
width: 200px;

}
.container .party2-Oubl  .partyContact .partybtn ul{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
}
.container .party2-Oubl .partyContact .partybtn ul li{
list-style-type: none;
}
.container .party2-Oubl  .partyContact .partybtn ul li a img{
width: 40px;
height: 40px;
flex-shrink: 0;
background-color: #D9D9D9;
border-radius: 50%;
padding: 5px;
}
.container .party2-Oubl  .editeby{

position: absolute;
bottom: 1%;
right: 2%;
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.container .party2-Oubl  .accountfind{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
.container .party2-Oubl .accountfind a{
        color: #FFF;
        text-align: center;
        font-family: var(--fontText);
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-decoration: underline;
}

/* finish party*/


/* dashbord party */
.dashbordHome{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashbordHome .partyNav{
    width: 159px;
    height: 100vh;
    flex-shrink: 0;
    background-color: var(--firstBg);
    border-radius: 0px 15px 15px 0px;
background: #F2613F;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.dashbordHome .partyNav ul{
width: 100%;
height: 100%;

background-color: rgba(165, 42, 42, 0);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 15px;

}
.dashbordHome .partyNav ul li{
list-style-type: none;
background-color: #08db6400;


}
.dashbordHome .partyNav ul li a{
text-decoration: none;
width: 69px;
height: 88px;
flex-shrink: 0;
border-radius: 29px;
background: #1E1E1E;
display: flex;
justify-content: center;
transition: all .5s ease;
align-items: center;
}
.dashbordHome .partyNav ul li a:hover{

background: #481E14;

}

.dashbordHome .partyContent{
    width: 90%;
    min-height: 100vh;
    background-color: #3125b000;
}
.dashbordHome .partyContent .navSide{
    width: 90%;
min-height: 86px;
flex-shrink: 0;
border-radius: 0px 0px 15px 15px;
background: linear-gradient(90deg, #F2613F 0%, #8C3824 100%);
margin:auto;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding:20px;
}
.dashbordHome .partyContent .navSide .titleNav{
    text-align: center;
    font-family: var(--fontText);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.96px;
    padding:0 50px;
}
.dashbordHome .partyContent .navSide .ProFileNav a{
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    border-radius: 50%;

}
#focueBtn a{
background-color: #481E14;
}
.bntclose{
    width: auto;
height: 43px;
flex-shrink: 0;

color: #FFF;
font-family: var(--fontText);
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
position: absolute;
bottom: 2%;


margin: auto;
}
.bntclose a {
width: 100%;
height: 100%;
    border-radius: 29px;
    background: #1E1E1E;
color: #FFF;
font-family: var(--fontText);
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
padding: 0 10px;
text-decoration: none;


}


.sectionConteent{
    width: 90%;
    min-height: 600px;
    margin: auto;
    background-color: rgba(128, 255, 0, 0);
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 0;
}
.sectionConteent .minCotrolle{
    width: 600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #1e1e1e00;
}
.sectionConteent .minCotrolle .partyContrBnt{
    width: 100%;
  background-color: rgba(120, 100, 86, 0);
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;


}

/* .sectionConteent .minCotrolle  .partyContrBnt .bntconfig{
    width: 173px;
    height: 204px;
    flex-shrink: 0;
    border-radius: 19px;
background-color: #F2613F;
display: flex;
justify-content: center;
align-items: center;
} */
.sectionConteent .minCotrolle  .partyContrBnt .bntconfig a{
    width: 173px;
    height: 204px;
    flex-shrink: 0;
    border-radius: 19px;
background-color: #F2613F;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-decoration: none;
gap: 10px;
transition: all .5s ease;
}
.sectionConteent .minCotrolle .partyContrBnt .bntconfig a:hover{
 transform: scale(1.1);
}
.sectionConteent .minCotrolle  .partyContrBnt .bntconfig .titlebtnconf{
    color: #FFF;
    font-family: var(--fontText);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.sectionConteent .minCotrolle .partycalendre{
    width:110%;
    min-height: 201px;
    flex-shrink: 0;
    border-radius: 19px;
    background: linear-gradient(90deg, #481E14 0%, #F2613F 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px ;
    flex-wrap: wrap;
    gap: 15px;
}
/* .sectionConteent .minCotrolle .partycalendre .calendar{
    width: 200px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: rgba(255, 43, 43, 0.432);
} */

.sectionConteent .minCotrolle .partycalendre .paramchat{
    width: 300px;
    min-height: 316px;
background-color: rgb(15, 23, 42 );

border-radius: 15px;
}
.sectionConteent .userProfil{
    width: 448px;
    min-height:650px;
    flex-shrink: 0;
    border-radius: 19px;
background: linear-gradient(180deg, #F2613F 0%, #8C3824 50%);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;
padding: 15px;

}
.sectionConteent .userProfil .profile{
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    background-color: #1E1E1E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.sectionConteent .userProfil .Nomomplet{
    color: #D9D9D9;
    text-align: center;
    font-family: var(--fontText);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.sectionConteent .userProfil .TotalPrix{
    width: 100%;
    color: rgba(217, 217, 217, 0.83);
text-align: center;
font-family: var(--fontText);
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
background-color: rgba(0, 255, 255, 0);
}
.sectionConteent .userProfil .TotalPrix span{
    color: #1E1E1E;
    text-align: center;
    font-family: var(--fontText);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.sectionConteent .userProfil .editBar{

   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.sectionConteent .userProfil .editBar ul{

   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 25px;
}
.sectionConteent .userProfil .editBar ul li{
list-style-type: none;
}
.sectionConteent .userProfil .editBar ul li a{
    width: 54px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #1E1E1E;

    display: flex;
    justify-content: center;
    align-items: center;

}

.sectionConteent .userProfil .partymessage{
    width: 425px;
    height: 287px;
    flex-shrink: 0;
    border-radius: 27px;
    background: #1E1E1E;
    position: relative;
    margin:15px auto;
overflow-y: scroll;

}
.sectionConteent .userProfil .partymessage::-webkit-scrollbar-track{
background-color: transparent;

}
.sectionConteent .userProfil .titlemaessage{
    width: 100%;
    background-color: rgba(0, 0, 255, 0);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.sectionConteent .userProfil .partymessage .message{
    width: 398px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 18px;

    background: crimson;
    color: #FFF;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 15px auto;
display: flex;
justify-content: center;
align-items: center;

}
.sectionConteent .userProfil .partymessage .message .contentmessage{
width: 90%;
    color: #FFF;
font-family: var(--fontText);
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 15px auto;

}
/*finish party dash bord*/


.vanilla-calendar-day{
margin: 5px;
}


/*party ajoute produit*/
.titleAjoute{
    width: 90%;
    color: #FFF;
text-align: left;
font-family: var(--fontText);
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 15px 0;
position: relative;
background-color: rgba(0, 0, 255, 0);
}
.nameClient{
    position: absolute;
    top: 25%;
    right: 30%;
    font-weight: 500;
    font-size: 25px;

}
.sectionAjouteporduit{
    width: 85%;
min-height: 500px;
flex-shrink: 0;
border-radius: 19px;
background: #F2613F;
display: flex;
justify-content: center;
align-items: center;
padding: 15px;

}
.sectionAjouteporduit form{
background-color: rgba(208, 255, 0, 0);
width: 90%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 20px;

}
.sectionAjouteporduit  form .unitearty{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(93, 0, 255, 0);
}
.sectionAjouteporduit  form .unitearty .titlenom{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.sectionAjouteporduit form .unitearty input{

    width: 647px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 15px;
background: #60352A;
border: none;
outline: none;
color: #FFF;
text-align: left;
font-family: var(--fontText);
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 15px;

}
.sectionAjouteporduit form .unitearty select{

    width:647px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 15px;
background: #60352A;
border: none;
outline: none;
color: #FFF;
text-align: left;
font-family: var(--fontText);
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 15px;
border: none;
outline: none;
}
.sectionAjouteporduit form .unitearty #selectClient{

    width:460px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 15px;
background: #60352A;
border: none;
outline: none;
color: #FFF;
text-align: left;
font-family: var(--fontText);
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 15px;
border: none;
outline: none;

}
.sectionAjouteporduit form .unitearty #selectproduit{

    width:647px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 15px;
background: #60352A;
border: none;
outline: none;
color: #FFF;
text-align: left;
font-family: var(--fontText);
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 15px;
border: none;
outline: none;

}
.sectionAjouteporduit form .unitearty #selectproduitadd{

    width:460px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 15px;
background: #60352A;
border: none;
outline: none;
color: #FFF;
text-align: left;
font-family: var(--fontText);
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 15px;
border: none;
outline: none;

}
.sectionAjouteporduit form .unitearty input::placeholder{


color: #ffffffbd;
text-align: left;
font-family: var(--fontText);
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sectionAjouteporduit form .unitearty ul {
    width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
gap: 15px;
margin: auto;
background-color: rgba(0, 0, 255, 0);
}
.sectionAjouteporduit form .unitearty ul li{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
}
.sectionAjouteporduit form button{
    width: 404px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 18px;
background: #1E1E1E;
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
margin: auto;
cursor: pointer;
}
.btnAjoute{
    width: 90%;
    height: 68px;
    flex-shrink: 0;
    border-radius: 18px;
background: #60352a00;
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
cursor: pointer;
}
.messageSucc{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #1a1a1a;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 25px;
    color: #3cff2ec5;
    font-style: normal;
    font-family: var(--fontText);
    font-weight: 600;
    line-height: normal;
}
.errorsStyle{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #1a1a1a;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 25px;
    color: crimson;
    font-style: normal;
    font-family: var(--fontText);
    font-weight: 600;
    line-height: normal;
}

 .errorsStyle ul{
    display: flex;
    gap: 15px ;
    }
.errorsStyle ul li{
    list-style-type: none;
    }

/* finish party ajoute produit*/


/* start party vente */

.sectionVente{
    width: 85%;
min-height: 500px;
flex-shrink: 0;
border-radius: 19px;
background: #F2613F;
display: flex;
justify-content: center;
align-items: center;

}
.sectionVente form{
background-color: rgba(0, 21, 255, 0);
width: 90%;
display: flex;
justify-content: center;
align-items: center;

flex-direction: column;
flex-wrap: wrap;
gap: 20px;

}
.sectionVente form  .sectionCart{
width: 90%;
background-color: rgba(128, 255, 0, 0);
display: flex;
justify-content: center;
align-self: center;
flex-wrap: wrap;
padding: 15px;
gap: 40px;
}
.sectionVente form  .sectionCart .cart{
    width: 273px;
    height: 327px;
    flex-shrink: 0;
    border-radius: 31px;
background: rgba(49, 49, 49, 0.80);
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;

}
.sectionVente form  .sectionCart .cart input{
position: absolute;
top: 7%;
right:7%;
width: 30px;
height: 30px;
flex-shrink: 0;
accent-color: var(--firstBg);

}

.sectionVente form button{
    width: 404px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 18px;
background: #1E1E1E;
border:  none;
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: auto;
cursor: pointer;
}
.sectionVente form .titlecart{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.sectionVente form .typecart{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btnadd{
    width: 167px;
height: 63px;
flex-shrink: 0;
border-radius: 11px;
border: 1px solid #D9D9D9;
background: rgba(217, 217, 217, 0.70);
color: #F2613F;
text-align: center;
font-family: var(--fontText);
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
transition: all .5s ease;
}
.btnadd:hover{

  background-color: var(--secdtBg);
  color: var(--firstBg);
  border: 1px solid var(--firstBg);
}
/* finish party vente */

/* party vente groupe*/

.sectionAjoutegroupporduit{
        width: 85%;
    min-height: 500px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #F2613F;
    display: flex;
    justify-content: start;
   justify-content: center;
   flex-wrap: wrap;
    padding: 15px;
    gap: 15px;
    position: relative;
}
.sectionTable{
   width: 100%;


}
 .selectClient{
position: absolute;
right: 0;
top: -10%;
}
.selectClient select{
    max-width:700px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 15px;

    background-color: var(--secdtBg);
    border: 1px solid var(--firstBg);

    outline: none;
    color: #FFF;
    text-align: left;
    font-family: var(--fontText);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 15px;

}
.sectionTable table{
    width: 100%;
    border-collapse: collapse;


}

.sectionTable table tr th{
    width: auto;
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: #1E1E1E 3px solid;

padding: 25px 0;
border-radius: 10px;
background-color: rgba(137, 43, 226, 0);

}

.sectionTable table tr td form button{
    width: 62px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 9px;
background: #1E1E1E;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
margin: auto;
border: none;

}



.sectionTable table tr td{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 10px;
    background-color: rgba(137, 43, 226, 0);
    transition: all .5s ease;
    border: 1px solid rgba(137, 43, 226, 0) ;


    flex-direction: row;
}
.sectionTable table tr:hover td{
background-color: #373737;

}

.sectionTable table  tfoot tr td{
    width: 100%;
background-color: rgba(137, 43, 226, 0);

}

.sectionTable table  tfoot tr:hover td{
    background-color: #37373700;

}
.sectionTable table  tfoot tr form  button {
    width: 90%;
    height: 68px;
    flex-shrink: 0;
    border-radius: 18px;
background: #60352A;
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
cursor: pointer;
}
.sectionTable table  tfoot tr td .btnAjoute{
    width: 90%;
    height: 68px;
    flex-shrink: 0;
    border-radius: 18px;
background: #60352A;
color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
margin: auto;
}
.sectionverif{
width: 100%;
background-color: rgba(165, 42, 42, 0);
display: flex;
justify-content: space-between;

align-items: center;
flex-wrap: wrap;
margin: auto;
}
.sectionverif .Totalproduit , .TotalPrix{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sectionverif .Totalproduit span , .TotalPrix span{
    color: #1E1E1E;
    font-family: var(--fontText);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sectionverif form button{
    width: 404px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #1E1E1E;
    color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
cursor: pointer;
}
.sectionverif .btnform{
    width: 404px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #1E1E1E;
    color: #FFF;
text-align: center;
font-family: var(--fontText);
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
cursor: pointer;
text-decoration: none;
cursor: no-drop;
display: flex;
justify-content: center;
align-items: center;
}
/*
.sectionTable {
width: 80%;
background-color: chartreuse;
display: flex;
justify-content: center;
align-items: center;
    }
table{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

        width:auto;
        height: 300px;


        background-color: cadetblue;
    }
.sectionTable table tr{
 width: auto!important;
background-color: brown;

    }
.sectionTable table tr th ,td{
width: 100%;
padding: 0;
margin: 0;

} */


/*finish party */


/* party voir stock*/



.sectionTable-1 table{
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(100, 148, 237, 0);


}


.sectionTable-1 table tr th{
    width: auto;
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: #1E1E1E 3px solid;
    /* border-right: #1E1E1E 3px solid; */

padding: 25px;
border-radius: 10px;
background-color: rgba(137, 43, 226, 0);

}
.sectionTable-1 table tr th:last-child{

    border-right: #1e1e1e00 3px solid;


}

.sectionTable-1 table tr td{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 15px 10px;
    background-color: rgba(137, 43, 226, 0);
    transition: all .5s ease;
    border: 1px solid rgba(137, 43, 226, 0) ;

    border-bottom: #1E1E1E 3px solid;

    flex-direction: row;
}
.sectionTable-1 table tr td:last-child{


    border-bottom: #1E1E1E 3px solid;

}
.sectionTable-1 table tr td form button{


   width: 50px;
   height:  50px;
   border: none;
   border-radius: 8px;
   background-color: #151515;
   color: var(--firstBg);
   font-size: 20px;
   transition: all .5s ease;
   cursor: pointer;

}
.sectionTable-1 table tr td form button:hover{
background-color: #481E14;
color: var(--colorFOnt);

}
.sectionTable-1 table tfoot tr td:last-child{


    border-bottom: #1e1e1e00 3px solid;

}


.sectionTable-1 table tfoot tr td .paginate{
    width: 100%;
    background-color: rgba(128, 255, 0, 0);

display: flex;
justify-content: right;
align-items: center;
padding: 15px;
gap: 25px;
}

.sectionTable-1 table tfoot tr td .paginate .bntPrev , .btnNext{
width: 70px;
height: 50px;
background-color: var(--secdtBg);
color: var(--firstBg);
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
border-radius: 8px;
box-shadow: #000 5px 10px 5px;
transition: all .5s ease;
}
.sectionTable-1 table tfoot tr td .paginate .bntPrev:hover , .btnNext:hover {
    background-color: #d9d9d9;
    color: var(--firstBg);
}
/* .sectionTable-1 table  tr td a{
    text-decoration: none;
    color: #F2613F;
    text-align: center;
    font-family: var(--fontText);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} */
.sectionTable-1 .notFoundMsg {
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 10px;
    background-color: rgba(137, 43, 226, 0);
    transition: all .5s ease;
    border: 1px solid rgba(137, 43, 226, 0) ;


    flex-direction: row;
}

.nameClient {
   background-color: rgba(0, 0, 255, 0.018);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   right: 30%;

}
.nameClient input{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    accent-color: var(--firstBg);

}
.nameClient .gerecredi a{
text-decoration: none;
color: #F2613F;
text-align: center;
font-family: var(--fontText);
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.btnPay{

display: flex;
justify-content: center;
align-items: center;

width: 50px;
height:  50px;
border: none;
border-radius: 8px;
background-color: #151515;
color: #7cfc4aee;
font-size: 20px;
transition: all .5s ease;
cursor: pointer;

}



/* party parameter*/

.sectionAjouteporduit-1{
    width: 85%;
min-height: 500px;
flex-shrink: 0;
border-radius: 19px;
background: #F2613F;
display: flex;
justify-content: center;
align-items: center;
padding: 15px;

}
.sectionAjouteporduit-1 form{
background-color: rgba(208, 255, 0, 0);
width: 90%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 20px;

}
.sectionAjouteporduit-1  form .unitearty{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(93, 0, 255, 0);
}
.sectionAjouteporduit-1  form .unitearty .titlenom{
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.sectionAjouteporduit-1 form .unitearty input{

    width: 500px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 15px;
background: #60352A;
border: none;
outline: none;
color: #FFF;
text-align: left;
font-family: var(--fontText);
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 15px;

}


.sectionAjouteporduit-1 form .unitearty input::placeholder{


    color: #ffffffbd;
    text-align: left;
    font-family: var(--fontText);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.sectionAjouteporduit-1 form .unitearty ul {
        width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
    background-color: rgba(0, 0, 255, 0);
    }
.sectionAjouteporduit-1 form .unitearty ul li{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
        list-style-type: none;
        gap: 20px;
    }
.sectionAjouteporduit-1 form button{
        width: 404px;
        height: 68px;
        flex-shrink: 0;
        border-radius: 18px;
    background: #1E1E1E;
    color: #FFF;
    text-align: center;
    font-family: var(--fontText);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    margin: auto;
    cursor: pointer;
}
.btnfromdelete{
    background-color: crimson;
}

.btnAjouteaa{
   width: 300px;
height: 63px;
flex-shrink: 0;
border-radius: 11px;
border: 1px solid #D9D9D9;
background: rgba(217, 217, 217, 0);
color: var(--colorFOnt);
text-align: center;
font-family: var(--fontText);
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
transition: all .5s ease;
position: absolute;
right: 0;
top: 0;
gap: 15px;
padding: 0 20px;
}
.btnAjouteaa:hover{

    background-color: var(--secdtBg);
    color: var(--firstBg);
    border: 1px solid var(--firstBg);
  }
/*party all produit*/
.edittd table tr td{
font-size: 20px;
}
.edittd table tr th{
font-size: 20px;
}


.notifactionRemove{
    min-width: 400px;
    min-height: 250px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 10px;
    color: #eeee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--fontText);
    gap: 15px;
    display: none;
    padding: 15px;
}
.notifactionRemove .message{
    width: 85%;
 font-size: 25px;
text-align: center;
 background-color: #05d22e02
}

.notifactionRemove .bntgourpe{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 10px;
cursor: pointer;
}
.notifactionRemove .bntgourpe a{
    width: 150px;
    height: 55px;
    flex-shrink: 0;
   background-color: blueviolet;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   font-size: 20px;
}
.notifactionRemove .bntgourpe #btnAnnule{
  background-color: crimson;
}
.notifactionRemove .bntgourpe #btnConfir{
  background-color: #3965E3;
}


tbody tr td{
position: relative;
transition: all 1s ease;
cursor: pointer;
}

tbody tr td[data_title]::after{
    min-width:auto;
    content: attr(data_title);
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0C0C0C;
    padding: 10px;
    z-index: 99999;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-radius: 10px;
    cursor: pointer;
    z-index: 99999;


}
tbody tr td[data_title]:hover::after{
    min-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    bottom: -10%;
    transform: translate(-50%, 0);
}
